html{
    background-color: cadetblue;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightblue;
}
li{
   float: left;
}
li a{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    background-color: lightgreen;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    transition: 0.3s;
    color: white;
    background-color: #333;
}

.active{
    background-color: gold;
}

h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}